@model List<AcmeVending.Models.VendableItemViewModel>

<div class="container">
    <h2>Vendable Products</h2>
    <table class="table" style="width: 300px;">
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemCode)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)<br />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>